.Main {
  width: 1440px;
  height: 800px;
  background-color: #f7f7f7;
}
.Button {
  position: absolute;
  top: 240px;
  bottom: 514px;
  left: 517px;
  right: 517px;
  width: 300px;
  height: 46px;
  border-radius: 2px;
  background-color: #65c7ab;
  color: #ffffff;
}

.Share-video-clip {
  height: 20px;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #424242;
}
.Dialog {
  width: 680px;
  height: 140px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 10;
  letter-spacing: normal;
  text-align: center;
  color: #2cbf9d;
}

.text-style-1 {
  font-family: FontAwesome5ProSolid;
}
